<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="РесторанчикЯнки_боба_.Properties.Settings.boba2ConnectionString"
            connectionString="Data Source=DESKTOP-KOPO693\SQLEXPRESS;Initial Catalog=boba2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>